.parent{
    position: relative;
    margin-top: 14vh;
}

.child{
    position: absolute;
}

.grid{
    display: grid;
    grid-template-rows: repeat(49, 36px);
    gap: 3px;
}

.blocks{
    margin: 6px 14px 0 45px;
    grid-template-columns: repeat(4, 75px);
}

.block{
    border-radius: 5px;
    padding: 4px;
    font-weight: 500;
    font-size: 13px;
}