:root {
    --light: #ffffff;
    --dark: #343434;
    --gray: #8E8E8E;
    --light-gray: #C4C4C4;
    --lighter-gray: #F4F4F4;
    --primary: #8777FE;
    --blue: #4993FA;
    --green: #04DEAD;
    --brown: #B97764;
    --yellow: #FFBE00;
    --orange: #FE7847;
    --red: #F15C5C;
    --font-text: "Roboto", sans-serif;
}



html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body{
    color: var(--dark);
}

h1{
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: var(--dark);
}